.logo {
  text-transform: uppercase;
  font-size: 32px;
}
.logo strong {
  color: #ed563b;
}
.head-strong {
  color: #ed563b;
  text-transform: uppercase;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.video-overlay {
    position: absolute;
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.textcontainer {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  margin-top: 100px;
  padding: 70px;
  box-shadow: 0 5px 8px black;
}

.header-img {
  width: 10%;
}

#membership-list {
 list-style-type: none;
 font-size: 1.25em;
 color: white;
}

#headerBtn {
  background-color: rgba(237, 86, 59, 0.9);
  box-shadow: 0 4px 10px black;
}
#headerBtn:hover {
  background-color: rgba(237, 86, 59, 0.7);
}

#gearBtn {
  margin: 50px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  background-color: rgba(237, 86, 59, 0.9);
  box-shadow: 0 4px 8px black;
}
#gearBtn:hover {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(237, 86, 59, 0.7);
}

#location {
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
}

.icon-color {
  color: #ed563b;
  scale: 3;
  margin-bottom: 20px;
}

.routeBtn {
  background-color: #ed563b;
  padding: 10px;
  width: 40%;
}
.routeBtn:hover {
  background-color: rgba(237, 86, 59, 0.7);
}

.spacer {
  margin-top: 100px;
}

#gallery {
  color: #ed563b;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 30px;
  border-top-left-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  box-shadow: 0 -1px 10px black;
}

#map {
  margin-top: 75px;
  width: 100%;
  height: 0 auto;
  border: 4px #ed563b solid;
}

#callToAction {
  padding: 0px 0px;
  background-image: url(../assets/img/gym.webp);
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: 0 2px 10px black;
}

strong {
  color: #ed563b;
}

.cta-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10%;
  margin: 0;
}

#coachInfo {
  list-style-type: none;
  padding-top: 15px;
}

.cta-container h4 {
  font-weight: bold;
  color: #ed563b;
}

.tierContainer {
  padding-top: 75px;
}

.col-lg-3 {
  padding-bottom: 30px;
}

.col-lg-3 ul {
  text-align: left;
}


#weather {
  width: 100%; /* smaller footprint for navbar */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}


@media only screen and (max-width: 992px) {
  #weather {
    display: none;
  }
  .weatherTitle {
    display: none;
  }
}




@media only screen and (max-width: 1200px) {
  body {
    overflow: none;
  }
  #gearBtn {
   display: block;
   position:initial;
   margin-left: 15%;
   width: 70%;
   margin-top: 25px;
  }
  .logo {
    text-wrap: wrap;
  }
  .textcontainer {
    margin-top: 200px;
  }
  .col-lg-3 ul {
  text-align: center;
}
}
@media only screen and (max-width: 500px) {
  #membership-list {
    list-style-type: disc;
  }
}
@media only screen and (max-width: 475px) {
  #gearBtn {
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #about {
    margin-top: 100px;
  }
}